@import url("//fonts.useso.com/css?family=Lato:400,400italic");
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/fontawesome-webfont.woff") format('woff'), url("/fonts/fontawesome-webfont.ttf") format('truetype'), url("/fonts/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url("http://fontsta.sh/font/pressstart2p/PressStart2P-Regular.ttf") format('truetype'), url("http://fontsta.sh/font/pressstart2p/PressStart2P-Regular.woff") format('woff'), url("http://fontsta.sh/font/pressstart2p/PressStart2P-Regular.eot") format('embedded-opentype');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url("http://fontsta.sh/font/droidsansmono/DroidSansMono.ttf") format('truetype'), url("http://fontsta.sh/font/droidsansmono/DroidSansMono.woff") format('woff'), url("http://fontsta.sh/font/droidsansmono/DroidSansMono.eot") format('embedded-opentype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: url("/images/bg.jpg") fixed right top #f0f0f0;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.75em;
  text-shadow: 0 0 1px transparent;
}
body ::selection {
  color: #fff;
  background: #e84893;
  text-shadow: none;
}
body ::-moz-selection {
  color: #fff;
  background: #e84893;
  text-shadow: none;
}
@media screen and (max-width: 1020px) {
  body {
    margin: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: #1ba1e2;
}
a:hover {
  text-decoration: underline;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inner {
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 1020px) {
  .inner {
    width: 100%;
  }
}
img#go2top {
  margin-left: 490px;
}
@media screen and (max-width: 1020px) {
  img#go2top {
    bottom: 10px;
    right: 2px;
    left: auto;
    width: 26px;
  }
}
#main-col {
  width: 660px;
}
@media screen and (max-width: 1020px) {
  #main-col {
    width: 100%;
    margin-right: -300px;
  }
}
@media screen and (max-width: 900px) {
  #main-col {
    margin-right: 0;
    float: none;
  }
}
@media screen and (max-width: 1020px) {
  #wrapper {
    margin-right: 300px;
  }
}
@media screen and (max-width: 900px) {
  #wrapper {
    margin-right: 0;
  }
}
#header {
  zoom: 1;
  text-shadow: 0 0 1px #fff;
  margin: 30px auto;
}
#header:before,
#header:after {
  content: "";
  display: table;
}
#header:after {
  clear: both;
}
@media screen and (max-width: 600px) {
  #header {
    margin-bottom: 20px;
  }
  #header .alignleft,
  #header .alignright {
    float: none;
    display: block;
    text-align: center;
  }
}
#header a {
  color: #666;
}
#header a:hover {
  color: #1ba1e2;
  text-decoration: none;
}
#header h1 {
  font-family: 'Press Start 2P', cursive, 'Microsoft YaHei', tahoma, sans-serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1;
}
#header h1 a {
  color: #e2e2e2;
  text-shadow: #1ba1e2 1px 1px 0, #1ba1e2 -1px 1px 0, #1ba1e2 1px -1px 0, #1ba1e2 -1px -1px 0;
  -webkit-transition: text-shadow 1s ease;
  -moz-transition: text-shadow 1s ease;
  -o-transition: text-shadow 1s ease;
  -ms-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;
}
#header h1 a:hover {
  -webkit-transition: text-shadow 1s ease;
  -moz-transition: text-shadow 1s ease;
  -o-transition: text-shadow 1s ease;
  -ms-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;
  text-shadow: rgba(51,51,51,0.7) 10px 10px 10px;
}
#header h2 {
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1;
  margin-top: 10px;
  color: #999;
  text-shadow: 0 1px #ddd;
}
#header #main-nav {
  zoom: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 3.5em;
}
#header #main-nav:before,
#header #main-nav:after {
  content: "";
  display: table;
}
#header #main-nav:after {
  clear: both;
}
#header #main-nav ul {
  list-style: none;
}
#header #main-nav ul li {
  float: left;
  margin: 0 0 0 30px;
  font-size: 1.3em;
}
@media screen and (max-width: 600px) {
  #header #main-nav ul {
    text-align: center;
  }
  #header #main-nav ul li {
    float: none;
    display: inline-block;
    margin: 0 8px;
  }
}
article {
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-top: 2px solid #1ba1e2;
}
article table {
  border-collapse: collapse;
}
article td,
article th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
article tbody tr:nth-of-type(odd) {
  background: inherit;
}
article.page {
  padding-left: 0;
}
article.page .icon {
  display: none;
}
article.page header .title {
  padding: 0;
}
article.post .icon:before {
  content: '\f016';
}
article.photo .icon:before {
  content: '\f030';
}
article.link .icon:before {
  content: '\f0c1';
}
article.link .title a:after {
  content: '\f08e';
  color: #999;
  font: 12px FontAwesome;
  padding-left: 10px;
  vertical-align: super;
}
article .post-content,
article .post-comment {
  background: #fff;
  padding: 20px 30px 15px 30px;
  margin-bottom: 50px;
  position: relative;
}
article .gallery {
  margin: 30px -30px;
  overflow: hidden;
  position: relative;
}
article .gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article .gallery:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
@media screen and (max-width: 580px) {
  article .gallery:hover img {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
}
article .gallery img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
article .gallery .control {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
article .gallery .prev,
article .gallery .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
article .gallery .prev:before,
article .gallery .next:before {
  position: absolute;
  font: 24px/1 FontAwesome;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
article .gallery .prev {
  left: 0;
}
article .gallery .prev:before {
  content: '\f053';
  left: 10px;
}
article .gallery .next {
  right: 0;
}
article .gallery .next:before {
  content: '\f054';
  right: 10px;
}
article header .icon {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  position: absolute;
  top: 20px;
  left: 26px;
  color: #1ba1e2;
}
@media screen and (max-width: 600px) {
  article header .icon {
    display: none;
  }
}
article header .icon:before {
  position: absolute;
  font: 32px FontAwesome;
  top: 0;
  left: 0;
  width: 32px;
  text-align: center;
}
article header .icon-black {
  color: #333;
}
article header time {
  position: absolute;
  top: 10px;
  right: 24px;
  text-align: right;
  font-style: italic;
  font-family: 'Georgia', serif;
  width: 80px;
  text-align: center;
}
article header time span {
  display: block;
}
article header time .day {
  margin: 0 0 5px 0;
  font-size: 36px;
  color: #1ba1e2;
}
article header time .month {
  font-size: 0.8em;
  color: #999;
}
article header .title {
  font-weight: normal;
  line-height: 36px;
  margin-top: -2px;
  padding: 0 80px 0 32px;
}
@media screen and (max-width: 600px) {
  article header .title {
    padding: 0 50px 0 0;
    font-size: 1.5em;
  }
}
article header .title a {
  color: #1ba1e2;
}
article header .title a:hover {
  color: #1ba1e2;
  text-decoration: none;
}
article .entry {
  text-align: justify;
  line-height: 1.6;
  word-break: break-all;
  word-wrap: break-word;
}
article .entry p,
article .entry blockquote,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry table,
article .entry iframe,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6,
article .entry .video-container {
  margin-top: 15px;
}
article .entry .sign,
article .entry .j-sign {
  text-align: right;
  font-style: italic;
  margin-top: 5px;
}
article .entry .dot,
article .entry .j-dot {
  border: 1px dashed #ccc;
  padding: 10px;
  font-size: 0.8em;
  background: #eef3f6;
}
article .entry .j-quote {
  border: 1px dashed #eee;
  background: #f9f9f9;
  padding: 10px;
}
article .entry .j-warning {
  background: #fff0c0;
  border: 1px solid #ffe38d;
  padding: 14px;
}
article .entry .j-info {
  background: #c7eefe;
  border: 1px solid #ade6fe;
  padding: 14px;
}
article .entry blockquote {
  font-family: "Georgia", tahoma, sans-serif;
  font-size: 1.1em;
  padding: 0 30px 15px;
  background: #f9f9f9;
  border-left: 10px solid #1ba1e2;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
article .entry blockquote:before {
  color: #1ba1e2;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
article .entry blockquote p {
  margin-top: -1.25em;
  margin-left: 2em;
}
article .entry blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .entry blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .entry ul,
article .entry ol,
article .entry dl {
  margin-left: 20px;
}
article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
  margin-top: 0;
}
article .entry h1,
article .entry h2 {
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 20px;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  font-weight: 600;
}
article .entry h3 {
  font-size: 1.4em;
}
article .entry h4 {
  font-size: 1.2em;
}
article .entry h5,
article .entry h6 {
  font-size: 1em;
}
article .entry img,
article .entry video {
  max-width: 100%;
  height: auto;
  border: none;
}
article .entry iframe {
  border: none;
}
article .entry .fancybox img {
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(150,150,150,0.3);
  box-shadow: 1px 1px 4px rgba(150,150,150,0.3);
  max-width: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article .entry .fancybox img:hover {
  -webkit-box-shadow: 1px 1px 4px rgba(150,150,150,0.5);
  box-shadow: 1px 1px 4px rgba(150,150,150,0.5);
}
article .entry .caption {
  display: block;
  margin-top: 5px;
  color: #999;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
article .entry .caption:before {
  content: '\f040';
  position: absolute;
  font: 1.3em FontAwesome;
  position: absolute;
  left: 0;
  top: 3px;
}
article .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .entry .video-container iframe,
article .entry .video-container object,
article .entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .entry .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article footer {
  zoom: 1;
}
article footer:before,
article footer:after {
  content: "";
  display: table;
}
article footer:after {
  clear: both;
}
article footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
}
article footer a {
  color: #999;
}
article footer a:hover {
  color: #1ba1e2;
  text-decoration: none;
}
article footer a:before {
  font: 1.1em FontAwesome;
  padding-right: 10px;
  vertical-align: middle;
}
article footer a.more-link:before {
  content: '\f054';
}
article footer a.comment-link:before {
  content: '\f075';
}
article footer .categories,
article footer .tags {
  position: relative;
  padding-left: 25px;
  margin: 5px 0;
}
article footer .categories:before,
article footer .tags:before {
  position: absolute;
  font: 1.1em FontAwesome;
}
article footer .categories a,
article footer .tags a {
  color: #1ba1e2;
}
article footer .categories a:hover,
article footer .tags a:hover {
  text-decoration: none;
}
article footer .categories:before {
  content: '\f07b';
  top: 2px;
  left: 1px;
}
article footer .tags:before {
  content: '\f02c';
  top: 3px;
  left: 2px;
}
article footer .categories a,
article footer .tags a {
  margin-right: 8px;
  color: #999;
}
article footer .categories a:hover,
article footer .tags a:hover {
  color: #666;
}
article footer .addthis {
  margin-top: 15px;
}
article footer .addthis iframe {
  margin-top: 0;
}
#article-nav {
  zoom: 1;
  position: relative;
  margin: -30px 0 20px 0;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
#article-nav:before {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #1ba1e2;
  -webkit-box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
  box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); /* 强制硬件加速 */
  -webkit-animation-name: glow;
  -moz-animation-name: glow;
  -o-animation-name: glow;
  -ms-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
#article-nav .article-nav-link-wrap {
  text-decoration: none;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  display: block;
}
#article-nav .article-nav-link-wrap:hover {
  color: #666;
}
#article-nav .article-nav-link-wrap:hover .article-nav-title {
  color: #1ba1e2;
}
#article-nav .article-nav-link-wrap .article-nav-caption {
  text-shadow: 0 1px #ddd;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1em;
  font-weight: bold;
}
.article-nav-newer #article-nav .article-nav-link-wrap .article-nav-caption {
  margin-right: -2px;
}
#article-nav .article-nav-link-wrap .article-nav-title {
  color: #666;
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
#article-nav .article-nav-newer {
  float: left;
  text-align: right;
  padding-right: 20px;
}
#article-nav .article-nav-older {
  float: right;
  text-align: left;
  padding-left: 20px;
}
#go2top {
  padding: 0;
  margin: 0;
  width: 35px;
  height: auto;
  position: fixed;
  left: 50%;
  bottom: 100px;
  cursor: pointer;
  z-index: 99999999;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  display: none;
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -o-transition: 0.45s;
  -ms-transition: 0.45s;
  transition: 0.45s;
}
#go2top:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.btn {
  background: #368ee0;
  color: #fff;
  display: inline-block;
  padding: 5px 9px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background: #1e74c5;
  text-decoration: none;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
@-moz-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(27,161,226,0.5);
    box-shadow: 0 0 12px rgba(27,161,226,0.5);
    border-color: rgba(27,161,226,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
    box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
    border-color: #1ba1e2;
  }
}
@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(27,161,226,0.5);
    box-shadow: 0 0 12px rgba(27,161,226,0.5);
    border-color: rgba(27,161,226,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
    box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
    border-color: #1ba1e2;
  }
}
@-o-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(27,161,226,0.5);
    box-shadow: 0 0 12px rgba(27,161,226,0.5);
    border-color: rgba(27,161,226,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
    box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
    border-color: #1ba1e2;
  }
}
@keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(27,161,226,0.5);
    box-shadow: 0 0 12px rgba(27,161,226,0.5);
    border-color: rgba(27,161,226,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
    box-shadow: 0 0 12px #1ba1e2, 0 0 18px #1ba1e2;
    border-color: #1ba1e2;
  }
}
.post-comment {
  margin-bottom: 50px;
  position: relative;
}
.post-comment .title {
  font-size: 22px;
  line-height: 50px;
  position: relative;
  color: #333;
  padding-left: 40px;
}
@media screen and (max-width: 600px) {
  .post-comment .title {
    padding-left: 0;
  }
}
.post-comment .ico-comment:before {
  content: "\f086";
  position: absolute;
  left: 0;
  font: 32px FontAwesome;
  color: #ababab;
  top: 10px;
}
@media screen and (max-width: 600px) {
  .post-comment .ico-comment:before {
    content: "";
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
  }
}
#pagination a {
  display: block;
  padding: 5px 10px;
  background: #fff;
  color: #999;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
  margin-bottom: 50px;
}
#pagination a:hover {
  background: #1ba1e2;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
#pagination .prev:before {
  content: '\f053';
  padding-right: 10px;
  font-family: FontAwesome;
}
#pagination .next:after {
  content: '\f054';
  padding-left: 10px;
  font-family: FontAwesome;
}
.archive-title {
  color: #999;
  font-weight: normal;
  margin-bottom: 30px;
  text-shadow: 0 0 1px #fff;
}
.archive-title:before {
  font-family: FontAwesome;
  content: '\f073';
  padding-right: 15px;
}
.archive-title.tag:before {
  content: '\f02b';
}
.archive-title.category:before {
  content: '\f07b';
}
.archives {
  zoom: 1;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archives {
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (max-width: 480px) {
  .archives {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.archives .archive-item {
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archives .archive-item header {
  padding: 10px;
  margin-bottom: 12px;
  background: #fff;
  border: 1px solid #ddd;
}
.archives .archive-item header a {
  text-decoration: none;
}
.archives .archive-item header time {
  color: #999;
  font-size: 0.85em;
  line-height: 1em;
}
.archives .archive-item header h1 {
  font-size: 14px;
}
.archive-list {
  font-size: 0.9em;
  padding: 15px 20px;
}
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.archive-list-count:before {
  content: '(';
}
.archive-list-count:after {
  content: ')';
}
#sidebar {
  width: 270px;
  line-height: 1.8em;
}
@media screen and (max-width: 900px) {
  #sidebar {
    float: none;
    width: 100%;
  }
}
#sidebar .widget {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  margin-bottom: 30px;
  word-wrap: break-word;
}
#sidebar .widget .title {
  padding: 15px 20px;
  font-size: 1.5em;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
#sidebar .widget .entry {
  font-size: 0.9em;
  padding: 15px 20px;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul ul,
#sidebar .widget ol ul,
#sidebar .widget dl ul,
#sidebar .widget ul ol,
#sidebar .widget ol ol,
#sidebar .widget dl ol,
#sidebar .widget ul dl,
#sidebar .widget ol dl,
#sidebar .widget dl dl {
  list-style: disc;
  margin-left: 20px;
}
#sidebar .search {
  margin-bottom: 30px;
}
#sidebar .search input {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#sidebar .search input:focus {
  color: #666;
  border-color: #66afe9;
  outline: 0 none;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset, 0px 0px 8px rgba(102,175,233,0.6);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset, 0px 0px 8px rgba(102,175,233,0.6);
}
#sidebar .tag small {
  margin-left: 15px;
  color: #999;
}
#sidebar .tag small:before {
  content: '(';
}
#sidebar .tag small:after {
  content: ')';
}
#sidebar .twitter li {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  font-size: 0.9em;
}
#sidebar .twitter li:last-of-type {
  border-bottom: none;
}
#sidebar .twitter small {
  display: block;
  margin-top: 10px;
  color: #999;
  line-height: 1;
}
#sidebar .tagcloud .entry {
  padding-right: 5px;
}
#sidebar .tagcloud a {
  margin-right: 10px;
  display: inline-block;
}
#sidebar .recent_comments .ds-recent-comments li:first-child {
  padding-top: 0 !important;
  border-top: none !important;
}
.topic-list {
  position: relative;
  width: 270px;
  line-height: 1.8em;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  word-wrap: break-word;
  -webkit-transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
  -ms-transition: opacity 5s ease-in-out;
  transition: opacity 5s ease-in-out;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
@media screen and (max-width: 900px) {
  .topic-list {
    display: none;
  }
}
.topic-list:hover {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.topic-list .title {
  padding: 15px 20px;
  font-size: 1.5em;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
.topic-list .topic-tree {
  padding: 12px 0;
}
.topic-list .topic-tree ul {
  list-style: none;
  padding-left: 17px;
}
.topic-list .topic-tree ul li {
  list-style: none;
  line-height: 1.5em;
}
.topic-list .topic-tree ul li a {
  color: #333;
  font-size: 12px;
  display: block;
  padding-left: 10px;
}
.topic-list .topic-tree ul li a:hover {
  color: #1ba1e2;
  text-decoration: none;
}
.topic-list .topic-tree ul li a i {
  font-style: normal;
  float: left;
}
.topic-list .topic-tree ul li a span {
  display: block;
  padding-left: 6px;
  padding-right: 12px;
  overflow: hidden;
}
.topic-list .topic-tree ul li.active a,
.topic-list .topic-tree ul li.active a:hover {
  color: #1ba1e2;
  text-decoration: none;
}
.topic-list .topic-progress {
  position: absolute;
  top: 55px;
  left: 0;
  border-bottom: 2px solid #1ba1e2;
}
#footer {
  color: #999;
  margin-bottom: 50px;
  font: 0.9em/1.6 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
}
.entry pre,
.entry .highlight {
  background: #2d2d2d;
  margin: 15px -30px 0 -30px;
  padding: 15px 30px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  line-height: 1.6;
  color: #ccc;
  font-size: 0.9em;
}
.entry .highlight .gutter pre,
.entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.entry pre,
.entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 5px;
  margin: 0 3px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.entry .highlight table {
  margin: 0;
  width: auto;
}
.entry .highlight td {
  border: none;
  padding: 0;
}
.entry .highlight figcaption {
  zoom: 1;
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.entry .highlight figcaption:before,
.entry .highlight figcaption:after {
  content: "";
  display: table;
}
.entry .highlight figcaption:after {
  clear: both;
}
.entry .highlight figcaption a {
  float: right;
}
.entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.entry .highlight .line {
  height: 19px;
}
.entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
